.body {
    width: 60%;
    height: 100%;
    font-size: 20px;
}

.mainBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(60, 44, 71, 0.7);
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    border-radius: 7px;
    color: aliceblue;
}

.title {
    margin: 10px;
    text-align: center;
    font-size: 45px;
    margin-top: -20px;
    margin-bottom: -30px;
}

.idDog {
    margin-top: -25px;
    margin-bottom: -45px;
}

.image {
    height: 280px;
    border-radius: 7px;
    margin-bottom: -30px;
}

.detailsCard {
    max-width: 80%;
    min-height: 25%;
    padding: 4px;
    margin: 10px;
    margin-top: -10px;
    margin-bottom: -70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    border-radius: 7px;
}

.breed {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.lifeSpan {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.height {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.weight {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.detailsImg {
    width: 100px;
    padding: 5px;
    margin: -10px;
    background-color: rgb(65, 44, 104,0.7);
    border-radius: 50px;
}

.temperament {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: left;
    gap: 15px;
}

.button {
    width: 50%;
    margin-left:200px;
    margin-right:400px;
    border-radius:50px;
    background-color: rgb(90, 72, 119);
    color: aliceblue;
    cursor: pointer;
    line-height: 2.1;
    font-size: 18px;
    border: none;
}

.button:hover {
    border: 1px solid #ffffff;
}

.imageBox {
    padding: 8px;
    margin: 15px;
}

.info {
    padding: 5px;
    margin: 15px;
}
