.mainContainerCreation {
    padding: 2%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(60, 44, 71, 0.7);
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
    border-radius: 7px;
}

.formContainer {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form {
    width: 500px;
}

.button {
    cursor: pointer;
    line-height: 2.5;
    width: 150px;
    background-color: rgb(202, 195, 90);
    border: none;
    margin-bottom: -70px;
    border-radius: 50px;
}


.button:hover {
    border: 1px solid #ffffff;
    font-weight: bold;
}

.cancelButton {
    cursor: pointer;
    margin-left: 100px;
    line-height: 2.5;
    width: 150px;
    background-color: rgb(148, 70, 163);
    border: none;
    margin-bottom: -70px;
    border-radius: 50px;
}

.cancelButton:hover{
    border: 1px solid #ffffff;
    font-weight: bold;
}

.section {
    margin: 8px;
    padding: 8px;
    margin-top:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border-radius: 3px;
    gap: 5px;
    background-color: rgba(197, 156, 187, 0.3);
}

.sort {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.selectedTemps {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: rgba(67, 36, 153, 0.5);
    border-radius: 25px;
    gap: 5px;
    margin: 5px 8px;
    padding: 3px 10px;
}

.selectedTemps > button {
    background-color:rgb(187, 65, 171);
    width: 25px;
    padding-left: 5px;
    border:none;
    cursor: pointer;
}

.error {
    font-size: 10px;
    font-style: italic;
    color: red;
}

.buttonSection {
    width: 100%;
    padding-top:35px;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.styledTemps {
    width: 240px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #acacac;
}

label {
    width: 100%;
}

input {
    width: 100%;
    line-height: 1.8;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

option {
    line-height: 2;
}


/* .bigImg {
    position: relative;
    height: 100px;
    width: 100px;
    max-width: 10%;
    max-height: 10%;
} */