.searchBar {
    margin: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    width: 20px;
    height: 20px;
}

button{
    background-color: rgba(190, 173, 73, 0.37);
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.input{
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    background-color: rgba(255, 196, 87, 0.3);
    border: none;
}

.input::placeholder {
    font-style: italic;
}
