.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    position: relative;
    overflow: hidden;
}

.title{
  font-size: 45px;
}

.img {
  border-radius: 50%;
  width: 25%;
  height: 25%;
  margin: 9px;
}

.button {
    font-size: 22px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #131538c5;
    color: #fff;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 2px 25px rgba(91, 107, 195, 0.5);
}

.button:before, .button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
}

.button:active {
    transform: scale(0.9);
    background-color: #3b1f5c;
    box-shadow: 0 2px 25px rgba(93, 48, 97, 0.2);
}

